<div class="auth-home">
  <div class="auth-home__splash">
    <div class="auth-home__splash-title">
      {{ "AUTH_HOME.TITLE" | translate }}
    </div>
    <div class="auth-home__splash-call-to-action">
      {{ "AUTH_HOME.CTA" | translate }}
    </div>
    <div class="auth-home__splash-features">
      <div class="auth-home__splash-features-item">
        <div class="auth-home__splash-features-item-icon">
          <i class="pi pi-chart-line"></i>
        </div>
        <div class="auth-home__splash-features-item-content">
          <div class="auth-home__splash-features-item-content-title">
            {{ "AUTH_HOME.MONITOR_FEATURE_TITLE" | translate }}
          </div>
          <div class="auth-home__splash-features-item-content-description">
            {{ "AUTH_HOME.MONITOR_FEATURE" | translate }}
          </div>
        </div>
      </div>
      <div class="auth-home__splash-features-item">
        <div class="auth-home__splash-features-item-icon">
          <i class="pi pi-objects-column"></i>
        </div>
        <div class="auth-home__splash-features-item-content">
          <div class="auth-home__splash-features-item-content-title">
            {{ "AUTH_HOME.ORGANIZED_FEATURE_TITLE" | translate }}
          </div>
          <div class="auth-home__splash-features-item-content-description">
            {{ "AUTH_HOME.ORGANIZED_FEATURE" | translate }}
          </div>
        </div>
      </div>
      <div class="auth-home__splash-features-item"></div>
    </div>
  </div>
  <div class="auth-home__action">
    <app-login-form></app-login-form>
  </div>
</div>
