<div mat-dialog-title>{{ "USER_MODAL.TITLE" | translate }}</div>
<mat-dialog-content>
  <form [formGroup]="userForm" class="user-dialog__form">
    <div class="user-dialog__form-field">
      <p-floatLabel>
        <input pInputText id="name" formControlName="name" />
        <label for="name">{{ "USER_MODAL.NAME" | translate }}</label>
      </p-floatLabel>
      <small
        *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
        >{{ "USAR_MODAL.NAME_ERROR" | translate }}</small
      >
    </div>
    <div class="user-dialog__form-field">
      <p-floatLabel>
        <input pInputText id="lastName" formControlName="lastName" />
        <label for="lastName">{{'USER_MODAL.LASTNAME' | translate}}</label>
      </p-floatLabel>
      <small
        *ngIf="
          userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched
        "
        >{{ "USAR_MODAL.LASTNAME_ERROR" | translate }}</small
      >
    </div>
    <div class="user-dialog__form-field">
      <p-floatLabel>
        <input pInputText id="email" formControlName="email" />
        <label for="email">{{'USAER_MODAL.EMAIL' | translate}}</label>
      </p-floatLabel>
      <small
        *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
        >{{ "USAR_MODAL.EMAIL_ERROR" | translate }}</small
      >
    </div>
    <div class="user-dialog__form-field">
      <p-floatLabel>
        <input
          pInputText
          type="password"
          id="password"
          formControlName="password"
        />
        <label for="password">{{'USER_MODAL.PASSWORD' | translate}}</label>
      </p-floatLabel>
      <small
        *ngIf="
          userForm.get('password')?.invalid && userForm.get('password')?.touched
        "
        >{{'USER_MODAL.ERROR_PASSWORD' | translate}}</small
      >
    </div>
    <div class="user-dialog__form-field">
      <div class="user-dialog__form-field-options">
        <div class="user-dialog__form-field-title">Roles</div>
        <div
          class="user-dialog__form-field-options-radio"
          *ngFor="let role of roleList"
        >
          <input
            type="radio"
            [id]="role"
            [name]="'role'"
            [value]="role"
            formControlName="role"
          />
          <label [for]="role">
            {{ role }}
          </label>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions class="user-dialog__action">
  <p-button
    [mat-dialog-close]="true"
    [disabled]="userForm.invalid"
    (onClick)="submit()"
    [label]="'TASK_MODAL.BUTTON_LABEL' | translate"
    icon="pi pi-arrow-circle-right"
    iconPos="right"
  />
</div>
