$primary-color: #3dc3cd;
$secondary-color: #107076;
$accent-color: #4b3109;
$white-color: #ffffff;
$orange-color: #ffb84b;

$font-size-xs: 8px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 26px;

$spacer-sm: 8px;
$spacer-md: 16px;
$spacer-lg: 24px;
$spacer-xl: 32px;
$spacer-xxl: 40px;