<div class="tasks-table">
  <div class="tasks-table__header">
    <div class="tasks-table__header-title">
      {{ "TASKS_TABLE.TITLE" | translate }}
    </div>
    <p-button
      *ngIf="hasAccess('admin')"
      (onClick)="showDialog()"
      label="crear"
      icon="pi pi-plus"
      iconPos="right"
    />
  </div>

  <ng-container *ngIf="tasks.length > 0">
    <p-table [value]="tasks" [tableStyle]="{ 'min-width': '30rem' }">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngFor="let header of displayedHeaders">
            <th>{{ header }}</th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tasks let-columns="columns">
        <tr class="tasks-table__data-row {{ isDueDate(tasks.deadline) }}">
          <td>
            {{ tasks.user || "Unassigned" | translate }}
          </td>
          <td>
            {{ tasks.title }}
          </td>
          <td>
            {{ tasks.created_at | date : "dd/MM/yyyy" }}
          </td>
          <td>
            {{ tasks.deadline | date : "dd/MM/yyyy" }}
          </td>
          <td
            class="tasks-table__data tasks-table__data--status {{
              tasks.status
            }}"
          >
            <p-dropdown
              [options]="statusList"
              [(ngModel)]="tasks.status"
              (onChange)="onStatusSelect(tasks)"
              placeholder="Status"
            />
          </td>
          <td
            class="tasks-table__data tasks-table__data--status {{
              tasks.complexity
            }}"
          >
            <p-dropdown
              [disabled]="true"
              [options]="complexityList"
              [(ngModel)]="tasks.complexity"
              (onChange)="onComplexitySelect($event)"
              placeholder="Complexity"
            />
          </td>
          <td *ngIf="hasAccess('admin')">
            {{ tasks.actions }}
            <p-button class="button--delete" (onClick)="deleteTask(tasks)">{{
              "TASKS_TABLE.DELETE" | translate
            }}</p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</div>
