<div mat-dialog-title>{{ "TASK_MODAL.TITLE" | translate }}</div>
<mat-dialog-content>
  <form [formGroup]="taskInformationForm" class="dialog__form">
    <div class="dialog__form-field">
      <p-floatLabel>
        <input pInputText id="title" formControlName="title" />
        <label for="title">{{ "TASK_MODAL.TITLE_LABEL" | translate }}</label>
      </p-floatLabel>
      <small
        *ngIf="
          taskInformationForm.get('title')?.invalid &&
          taskInformationForm.get('title')?.touched
        "
        >{{ "TASK_MODAL.TITLE_ERROR" | translate }}</small
      >
    </div>
    <div class="dialog__form-field">
      <input
        class="dialog__form-field-date"
        type="datetime-local"
        formControlName="deadline"
      />
    </div>
    <div class="dialog__form-field">
      <div class="dialog__form-field-title">
        {{ "TASK_MODAL.COMPLEXITY" | translate }}
      </div>
      <div class="dialog__form-field-options">
        <div
          class="dialog__form-field-options-radio"
          *ngFor="let complexity of complexityList"
        >
          <input
            type="radio"
            [id]="complexity"
            [name]="'complexity'"
            [value]="complexity"
            formControlName="complexity"
          />
          <label [for]="complexity">
            {{ complexity }}
          </label>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions class="dialog__action">
  <p-button
    [mat-dialog-close]="true"
    (onClick)="submit()"
    [label]="'TASK_MODAL.BUTTON_LABEL' | translate"
    icon="pi pi-arrow-circle-right"
    iconPos="right"
  />
</div>
