<div class="login-form">
  <div class="login-form__logo">
    <img
      class="login-form__logo-img"
      src="assets/images/logo.png"
      alt="Eldar logo"
    />
  </div>
  <div class="login-form__title">{{ "APP_TITLE" | translate }}</div>
  <div class="login-form__sub-title">
    {{ "LOGIN_FORM.LOGIN_TITLE" | translate }}
  </div>
  <form [formGroup]="form" class="login-form__form">
    <div class="login-form__form-input">
      <p-floatLabel>
        <input pInputText id="email" formControlName="email" />
        <label for="email">{{ "LOGIN_FORM.EMAIL" | translate }}</label>
      </p-floatLabel>
      <small
        class="login-form__form-input-error"
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        >{{ "LOGIN_FORM.EMAIL_ERROR" | translate }}</small
      >
    </div>
    <div class="login-form__form-input">
      <p-floatLabel>
        <input
          pInputText
          type="password"
          id="password"
          formControlName="password"
        />
        <label for="password">{{ "LOGIN_FORM.PASSWORD" | translate }}</label>
      </p-floatLabel>
      <small
        class="login-form__form-input-error"
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
        >{{ "LOGIN_FORM.PASSWORD_ERROR" | translate }}</small
      >
    </div>
  </form>
  <div class="login-form__actions">
    <div class="login-form__actions-register" (click)="changeAction()">
      {{ "LOGIN_FORM.REGISTER" | translate }}
    </div>
    <p-button
      class="login-form__actions-button"
      (click)="submitForm()"
      [label]="'LOGIN_FORM.BUTTON_LABEL' | translate"
      icon="pi pi-sign-in"
      iconPos="right"
    />
  </div>
  <div class="login-form__disclaimer">
    {{ "LOGIN_FORM.DISCLAIMER" | translate }}
    <span>{{ "LOGIN_FORM.DISCLAIMER_POLICY" | translate }}</span>
  </div>
</div>
